
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F4FBFA;
    color: #191C1C;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.dark body {
    background-color: #0E1414;
    color: #E1E3E3;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
